h1 {
    color: rgb(62, 230, 28);
    background-color: rgb(6, 0, 128);
}

p {
    border: 1px solid rgb(255, 97, 97);
}

div.topicHeading {
    font-size: 24px;
}

div.topic {
    font-size: 16px;
    color: rgb(77, 77, 77);
}

#uni234{
    background-color: red;
}